<section id="education">
    <mat-toolbar color="primary" >Education</mat-toolbar>
    

  <mat-list>
    <mat-list-item>Juin 2008:Baccalauréat en sciences informatique</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>2008-2009:1ére année:Institut Supérieure des Etudes Technologiques de Siliana</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>2009-2010:2éme année: Institut Supérieure des Etudes Technologiques de Tozeur</mat-list-item>
    <mat-list-item>2010-2011:3éme année: Institut Supérieure des Etudes Technologiques de Tozeur</mat-list-item>
    <mat-list-item>2022-2023:1ére année: Master DevOps &Cloud à Iset Tozeur</mat-list-item>
    


  </mat-list>
  
  

  
    
  

    