<section id="competence">
    <mat-toolbar color="primary" >Compétence</mat-toolbar>
    <mat-list>
        <mat-list-item>Bureautique : MsOffice
</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Programmation: C , Java,C++,Pascal,Visual basic.net,Android,Python</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Web:HTML,CSS,PHP,Asp.net,Angular,AngularMaterial,bootstrap,git,github,Nodejs,Nginx,visual Studio Code</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item> Base de Données:SQL,MSAccess,Oracle,PLsql MangoD</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Linux:Ubuntu, Debian,Kali </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Docker, Xen Orchestra </mat-list-item>
      </mat-list>
    
    




