<section id="experience">
    <mat-toolbar color="primary" >Experience</mat-toolbar>
    <mat-list>
        <mat-list-item>12/01/2009-06/02/2009 : Stage d'initiation au Sein de la Direction Régionale des Télécoms de Tozeur
             au service gestion de Ressource Humaine.</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>11/01/2010-06/02/2010: Stage de Perfectionnement:Creation d 'un outil de diffusion de mail au Sein de la société de développement web Aroma Service</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>2010-2011: Stage de PFE: Developpement Mobile  au Sein de société WAT</mat-list-item>
        
    
      </mat-list>
    
    