<section id="loisirs">
    <mat-toolbar color="primary" >Loisirs</mat-toolbar>
    <div class="contact_options" fxLayoutGap="1em" fxLayoutAlign="center start" fxLayout="column"><br><br>
        <button mat-button class="menu-button" >
            <mat-icon>flight_takeoff</mat-icon>
            <span>Voyage</span>
          </button><br>
          <button mat-button class="menu-button" >
            <mat-icon>directions_walk</mat-icon>
            <span>Sport</span>
          </button><br>
        
          <button mat-button class="menu-button" >
            <mat-icon>music_note</mat-icon>
            <span>Musique Classique</span>
          </button>